body {
  line-height: normal;
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 0;
}
.by-chinming-chan,
body {
  margin: 0;
}
.div1,
.div2 {
  position: absolute;
}
.div2 {
  bottom: 28px;
  left: 70px;
  font-weight: 300;
}
.div1 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  height: 100px;
}
.follow {
  position: relative;
  font-weight: 300;
}
.e-mail-wrapper,
.follow-wrapper {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 214px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) 58px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.e-mail-wrapper {
  right: 214px;
  padding: var(--padding-md) 76px 0;
}
.linkedin-icon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.cchinming17gmailcom-wrapper,
.linkedin-parent {
  position: absolute;
  bottom: 0;
  width: 214px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.linkedin-parent {
  right: 0;
  gap: 15px;
}
.cchinming17gmailcom-wrapper {
  right: 214px;
  padding: 7px 0;
  box-sizing: border-box;
}
.div3 {
  width: calc(100% - 1084px);
  right: 0;
  bottom: 1px;
  left: 1084px;
  height: 100px;
}
.blogs,
.div3,
.div6 {
  position: absolute;
}
.div6 {
  top: 35px;
  left: 197px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 112px;
  height: 36px;
}
.blogs {
  top: 40.5px;
  left: 220.5px;
  font-weight: 600;
}
.div7 {
  top: 35px;
  left: 28px;
  border-radius: var(--br-md);
  background-color: var(--color-mediumblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 112px;
  height: 36px;
}
.div5,
.div7,
.rsum {
  position: absolute;
}
.rsum {
  top: 41px;
  left: 43px;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
}
.div5 {
  height: 14%;
  width: 83.33%;
  top: 44.25%;
  right: 0;
  bottom: 41.74%;
  left: 16.67%;
  border-radius: 2px;
}
.div9 {
  height: 53.41%;
  width: 57.22%;
  top: 7.89%;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.div10,
.div8,
.div9 {
  position: absolute;
}
.div10 {
  height: 30.82%;
  width: 100%;
  top: 61.29%;
  left: 0;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.div8 {
  height: 36.86%;
  width: 46.04%;
  top: 7.4%;
  right: 37.3%;
  bottom: 55.75%;
  left: 16.67%;
  font-size: 112px;
  font-family: var(--font-playfair-display);
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div11,
.div12 {
  position: absolute;
}
.div12 {
  width: 100%;
  top: 11.7%;
  left: 0;
  font-weight: 300;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
.div11 {
  height: calc(100% - 569px);
  width: 62.82%;
  top: 441px;
  right: 20.51%;
  bottom: 128px;
  left: 16.67%;
}
.div4 {
  height: 77.09%;
  width: 56.75%;
  top: 12.73%;
  right: 0;
  bottom: 10.18%;
  left: 43.25%;
  background-color: var(--color-white);
  text-align: justify;
  font-size: var(--font-size-lg);
}
.div13,
.div15,
.div4 {
  position: absolute;
}
.div13 {
  width: calc(100% - 858px);
  top: calc(50% - 366px);
  right: 858px;
  left: 0;
  height: 756px;
}
.div15 {
  top: 14px;
  left: 16px;
  background-color: var(--color-mediumblue);
  width: 24px;
  height: 24px;
}
.about-me,
.b,
.blogs1,
.contact,
.more {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b {
  top: 14px;
  left: 55px;
  width: 77px;
  height: 22px;
}
.about-me,
.blogs1,
.contact,
.more {
  top: 32px;
  font-weight: 300;
}
.about-me {
  right: 353px;
  width: 118px;
  cursor: pointer;
}
.blogs1,
.contact,
.more {
  right: 256px;
  width: 82px;
}
.contact,
.more {
  right: 164px;
  width: 77px;
  cursor: pointer;
}
.contact {
  right: 40px;
  width: 109px;
}
.div16 {
  width: calc(100% - 147px);
  top: 14px;
  right: 0;
  left: 147px;
  height: 86px;
}
.div14,
.div16,
.icon {
  position: absolute;
}
.div14 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 1px;
  background-color: var(--color-white);
  height: 125px;
  text-align: center;
}
.icon {
  top: 20px;
  left: 83px;
  width: 216px;
  height: 216px;
  object-fit: cover;
}
.div18 {
  top: 251px;
  left: 120.5px;
}
.div18,
.div19,
.div20 {
  position: absolute;
}
.div19 {
  top: 405.25px;
  left: 162.25px;
  border-top: 1.5px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 57.5px;
  height: 1.5px;
}
.div20 {
  top: 421px;
  left: 135.5px;
  font-size: var(--font-size-base);
  font-weight: 300;
  font-family: var(--font-lato);
}
.linkedin-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.div17,
.div21 {
  position: absolute;
  mix-blend-mode: normal;
}
.div21 {
  top: 458px;
  left: 0;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 15px 95px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.div17 {
  top: calc(50% - 272px);
  left: calc(50% - 382px);
  background-color: #f4ece6;
  box-shadow: -10px 10px 30px -5px rgba(0, 0, 0, 0.25);
  width: 382px;
  height: 518px;
  text-align: center;
  font-size: 64px;
  font-family: var(--font-sassy-frass);
}
.div {
  position: relative;
  background-color: #e6dace;
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-lato);
}
