body {
  line-height: normal;
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 0;
}
.by-chinming-chan,
body {
  margin: 0;
}
.div1,
.div2 {
  position: absolute;
}
.div2 {
  top: calc(50% - 22px);
  left: 70px;
  font-weight: 300;
}
.div1 {
  bottom: 1px;
  left: calc(50% - 756px);
  background-color: var(--color-white);
  width: 1512px;
  height: 100px;
}
.follow {
  position: relative;
  font-weight: 300;
}
.e-mail-wrapper,
.follow-wrapper {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 214px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) 58px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.e-mail-wrapper {
  right: 214px;
  padding: var(--padding-md) 76px 0;
}
.linkedin-icon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.cchinming17gmailcom-wrapper,
.linkedin-parent {
  position: absolute;
  bottom: 0;
  width: 214px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.linkedin-parent {
  right: 0;
  gap: 15px;
}
.cchinming17gmailcom-wrapper {
  right: 214px;
  padding: 7px 0;
  box-sizing: border-box;
}
.div3 {
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 428px;
  height: 100px;
  overflow: hidden;
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div5,
.div6,
.div7 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div5 {
  top: calc(50% + 84px);
  left: calc(50% - 304px);
  font-weight: 300;
  white-space: pre-wrap;
  text-align: justify;
  width: 550px;
  height: 144px;
}
.div6,
.div7 {
  top: 269px;
  left: 125px;
  font-size: 32px;
  font-weight: 600;
  font-family: var(--font-playfair-display);
  width: 395px;
  height: 86px;
}
.div7 {
  top: 120px;
  font-size: 112px;
  text-align: center;
  justify-content: center;
  width: 226px;
  height: 149px;
}
.div9 {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--color-mediumblue);
  border: 1px solid var(--color-black);
  width: 112px;
  height: 39px;
  flex-shrink: 0;
}
.div10,
.div8,
.div9 {
  box-sizing: border-box;
}
.div10 {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  width: 112px;
  height: 39px;
  flex-shrink: 0;
}
.div8 {
  position: absolute;
  top: 355px;
  left: 125px;
  border-radius: 2px;
  width: 316px;
  height: 107px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 34px 0;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.blogs,
.rsum {
  position: absolute;
  top: 397px;
  left: 329px;
  font-weight: 600;
}
.rsum {
  top: 395px;
  left: 164px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 82px;
  height: 28px;
  cursor: pointer;
}
.div11,
.div4 {
  position: absolute;
  top: calc(50% - 366px);
  height: 756px;
}
.div4 {
  left: calc(50% - 102px);
  background-color: var(--color-white);
  width: 858px;
  font-size: var(--font-size-lg);
}
.div11 {
  left: calc(50% - 756px);
  width: 654px;
}
.b,
.div13 {
  position: absolute;
  top: 14px;
}
.div13 {
  left: 16px;
  background-color: var(--color-mediumblue);
  width: 24px;
  height: 24px;
}
.b {
  left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 22px;
}
.about-me,
.blogs1,
.contact,
.more {
  position: absolute;
  top: 32px;
  font-weight: 300;
}
.about-me {
  left: 894px;
  cursor: pointer;
}
.blogs1,
.contact,
.more {
  left: 1027px;
}
.contact,
.more {
  left: 1124px;
  cursor: pointer;
}
.contact {
  left: 1216px;
}
.div14 {
  top: 14px;
  left: 147px;
  width: 1340px;
  height: 86px;
  overflow: hidden;
}
.div12,
.div14,
.icon {
  position: absolute;
}
.div12 {
  top: 0;
  left: calc(50% - 756px);
  border-radius: 1px;
  background-color: var(--color-white);
  width: 1512px;
  height: 125px;
  text-align: center;
}
.icon {
  top: 20px;
  left: 83px;
  width: 216px;
  height: 216px;
  object-fit: cover;
}
.div16 {
  top: 251px;
  left: 120.5px;
}
.div16,
.div17,
.div18 {
  position: absolute;
}
.div17 {
  top: 405.25px;
  left: 162.25px;
  border-top: 1.5px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 57.5px;
  height: 1.5px;
}
.div18 {
  top: 421px;
  left: 135.5px;
  font-size: var(--font-size-base);
  font-weight: 300;
  font-family: var(--font-lato);
}
.linkedin-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.div15,
.div19 {
  position: absolute;
  mix-blend-mode: normal;
}
.div19 {
  top: 458px;
  left: 0;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 15px 95px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.div15 {
  top: calc(50% - 272px);
  left: calc(50% - 382px);
  background-color: #f4ece6;
  box-shadow: -10px 10px 30px -5px rgba(0, 0, 0, 0.25);
  width: 382px;
  height: 518px;
  text-align: center;
  font-size: 64px;
  font-family: var(--font-sassy-frass);
}
.div {
  position: relative;
  background-color: #e6dace;
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-lato);
}
